.App {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}

.search-input {
  width: 60%;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.result-container {
  width: 60%;
  margin: auto;
  border: 1px solid #ccc;
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}

.result {
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
}

.result:hover {
  background-color: antiquewhite;
  cursor: pointer;
  transition: all;
}