:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.progress-outer {
  position: relative;
  height: 32px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 16px;
  overflow: hidden;
}

.progress-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #4a90e2;
  transform-origin: left;
  transition: transform 1s ease;
  display: flex;
  text-align: right;
}

.progress-label {
  position: absolute;
  left: 0;
  right: 0;
  text-align: right;
  align-items: center;
  justify-items: center;
  color: white;
  flex: auto;
  font-weight: 500;
}

.tab-heading-container {
  display: flex;
}

.tab-heading {
  padding: 10px 15px;
  border: 1px solid wheat;
  cursor: pointer;
  margin-right: 5px;
}

.tab-heading.active {
  background-color: wheat;
  font-weight: bold;
  color: black;
}

.tab-body {
  display: flex;
  border: 1px solid wheat;
  min-height: 200px;
  padding: 15px;
  margin-top: 10px;
}

